* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  background: #444;
  height: 100%;
  width: 100%;
}

#svg {
  width:100%;
  height:100%;
}

#progressbar {
  margin-left:auto;
  margin-right:auto;
  width: 95%;
  height: 23.6%;
  top: 38.2%;
  position:relative;
}

